<!-- Roll20 Character Sheet for 
    Crossroads Carnival Ashcan Edition, published by Magpie Games: 
        http://www.magpiegames.com/2018/08/09/new-release-crossroads-carnival/
    
    Roll20 Character Sheet author: Jason Slanga <jason@anhinga.net>
    
    version 0.2 <21 October 2018>
-->

<!-- Sheet Worker Scripts 
     Keep these together in one place -->
     
<script type="text/worker">
    // Reset the xp tracker to 0, manage the tracker resets
    on("change:xp change:xp_reset change:darkness change:darkness_reset change:harm change:harm_reset", function(eventInfo) {
        
        // retrieve tracker values, and assign them to local variables
        getAttrs(["xp", "xp_reset", "darkness", "darkness_reset", "harm", "harm_reset"], function(values) {
            let xp = parseInt(values.xp);
            let xp_reset = parseInt(values.xp_reset);
            let darkness = parseInt(values.darkness);
            let darkness_reset = parseInt(values.darkness_reset);
            let harm = parseInt(values.harm);
            let harm_reset = parseInt(values.harm_reset);

            // reset variables based on the calling attribute
            // set tracker to 0, if the reset was toggled
            // toggle the reset, if the tracker was changed
            switch (eventInfo.sourceAttribute) {
                case "xp":
                    if (eventInfo.newValue > 0) { xp_reset = 1; }
                    break;
                
                case "xp_reset":
                    if (!eventInfo.newValue) { xp = 0; xp_reset = 0; }
                    break;
                
                case "darkness":
                    if (eventInfo.newValue > 0) { darkness_reset = 1; }
                    break;
                
                case "darkness_reset":
                    if (!eventInfo.newValue) { darkness = 0; darkness_reset = 0; }
                    break;
                
                case "harm":
                    if (eventInfo.newValue > 0) { harm_reset = 1; }
                    break;
                
                case "harm_reset":
                    if (!eventInfo.newValue) { harm = 0; harm_reset = 0;}
                    break;
                
                default:
            }            

            // work is done - update the variables
            setAttrs({
               xp:xp,
               xp_reset:xp_reset,
               darkness:darkness,
               darkness_reset:darkness_reset,
               harm:harm,
               harm_reset:harm_reset
            });
        });
    });
    
    // Make the reset button visible
</script>

<!-- wrapper div -->
<div class="sheet-wrapper">

<!-----------------------------------------------------------------------------
    Left Column -->
    
<div class="sheet-left-column">

    <!-- Playbook Header -->
    <div class="sheet-playbook">
        <select name="attr_playbook">
            <option value="Dog-Faced">Dog-Faced</option>
            <option value="Geek">Geek</option>
            <option value="Mermaid">Mermaid</option>
            <option value="Seer">Seer</option>
            <option value="Snake Charmer">Snake Charmer</option>
            <option value="Strongman">Strongman</option>
        </select>
    </div>
    
    <!-- Character Description -->
    <div class="sheet-description">
        <h2 class="sheet-section-header">character creation</h2>

        <table>
            <tr>
                <th>Name:</th>
                <td><input type="text" class="sheet-description-field" name="attr_character_name" /></td>
            </tr>
            <tr>
                <th>Look:</th> 
                <td><input type="text" class="sheet-description-field" name="attr_look" /></td>
            </tr>
            <tr>
                <th>Eyes:</th>
                <td><input type="text" class="sheet-description-field" name="attr_eyes" /></td>
            </tr>
            <tr>
                <th>Origin:</th>
                <td><input type="text" class="sheet-description-field" name="attr_origin" /></td>
            </tr>
            <tr>
                <th>Indulgence:</th>
                <td><input type="text" class="sheet-description-field" name="attr_indulgence" /></td>
            </tr>
        </table>
</div>
    <!-- end Character Description -->
    
    <!-- Pitch Card -->
    <div class="sheet-pitch-card">
        <h3>Pitch Card</h3>
        <fieldset class="repeating_pitchcard">
            <input type="text" class="sheet-pitch-field" name="attr_pitch_q" /><br />
            <textarea name="attr_pitch_a"></textarea>
        </fieldset>
    </div>
    
    <!-- Sideshow Alley -->
    <div class="sheet-sideshow-alley">
        <h3>Sideshow Alley</h3>
        <fieldset class="repeating_sideshowalley">
            <input type="text" name="attr_sideshow_q" /><br />
            <textarea name="attr_sideshow_a"></textarea>
        </fieldset>
    </div>
    
    <!-- The Monster Within -->
    <div class="sheet-monster-within">
        <h3>The Monster Within</h3>
        <textarea name="attr_monsterwithin"></textarea>
    </div>
    
    <!-- Solace -->
    <div class="sheet-solace">
        <h3>Solace</h3>
        <textarea name="attr_solace"></textarea>
        
    </div>
</div>

<!-- Right Column --
----------------------------------------------------------------------------->
<div class="sheet-right-column">

    <!-- Stat Block -->
    <div class="sheet-stat-div">
        <h2 class="sheet-section-header">stats</h2>
        <table class="sheet-stat-table" cellspacing="10">
            <!-- this row contains buttons, which can be clicked to just roll against that stat -->
            <tr>
                <th>
                    <button type="roll" class="roll_stat roll_bones" value="/roll 2d6 + @{bones}" name="roll_bones"></button>
                </th>
                <th>
                    <button type="roll" class="roll_stat roll_breath" value="/roll 2d6 + @{breath}" name="roll_breath"></button>
                </th>
                <th>
                    <button type="roll" class="roll_stat roll_grace" value="/roll 2d6 + @{grace}" name="roll_grace"></button>
                </th>
                <th>
                    <button type="roll" class="roll_stat roll_guile" value="/roll 2d6 + @{guile}" name="roll_guile"></button>
                </th>
            </tr>
            <!-- this row contains the inputs for the different stats -->
            <tr>
                <td>
                    <div class="sheet-hex-top"><div class="sheet-hex-top-inner"></div></div>
                    <div class="sheet-hex">
                            <input type="number" min="-3" max="3" class="attr_stat_input" name="attr_bones" />
                    </div>
                    <div class="sheet-hex-bottom"><div class="sheet-hex-bottom-inner"></div></div>
                </td>
                <td>
                    <div class="sheet-hex-top"><div class="sheet-hex-top-inner"></div></div>
                    <div class="sheet-hex">
                            <input type="number" min="-3" max="3" class="attr_stat_input" name="attr_breath" />
                    </div>
                    <div class="sheet-hex-bottom"><div class="sheet-hex-bottom-inner"></div></div>
                </td>            <td>
                    <div class="sheet-hex-top"><div class="sheet-hex-top-inner"></div></div>
                    <div class="sheet-hex">
                            <input type="number" min="-3" max="3" class="attr_stat_input" name="attr_grace" />
                    </div>
                    <div class="sheet-hex-bottom"><div class="sheet-hex-bottom-inner"></div></div>
                </td>            <td>
                    <div class="sheet-hex-top"><div class="sheet-hex-top-inner"></div></div>
                    <div class="sheet-hex">
                            <input type="number" min="-3" max="3" class="attr_stat_input" name="attr_guile" />
                    </div>
                    <div class="sheet-hex-bottom"><div class="sheet-hex-bottom-inner"></div></div>
                </td>
            </tr>
        </table>
    </div>
    <!-- end Stat Block -->
    
    <!-------------------------------------------------------------------------->
    <!-- Pager Container for pages of moves -->
    <div class="sheet-moves-page-container">
        <h2 class="sheet-section-header">moves</h2>

        <!-- these are fake buttons, to tab thru moves pages -->
        <input type="radio" class="sheet-moves-page-tab sheet-character-moves-tab" name="movestabs" checked="true" />
            <span>Character Moves</span>

        <input type="radio" class="sheet-moves-page-tab sheet-basic-moves-tab" name="movestabs" />
            <span>Basic Moves</span>

        <!-- Character Moves -->
        <div class="sheet-moves-page sheet-character-moves">
            
            <!-- A repeating section, so that players can add moves from their playbook -->
            <!-- <fieldset class="repeating_character_moves sheet-move-block"> -->
            <fieldset class="repeating_charactermoves">
                <!-- arrow to open and close move details -->
                <!--<input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>-->
                <input type="text" class="sheet-character-move-name" name="attr_character_move_name" />
                <div class="sheet-move-content">
                    <textarea class="sheet-character-move-description" name="attr_character-_move_desc"></textarea>
                </div>
            </fieldset>
        </div>
        <!-- end Character Moves -->
        
        <!-- Basic Moves -->
        <!-- This is just a bunch of raw content - these are copied from the game -->
        <div class="sheet-moves-page sheet-basic-moves">
            
            <!-- Offer Comfort -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Offer Comfort
                    <button type="roll" value="/roll 2d6 + @{grace}" name="roll_OfferComfort"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>offer comfort</b> to someone in need, roll +<i>grace</i>.
                    On a hit, choose 2. On a 7-9, their player gets to ask 1 of you you as well.
                    <ul class="sheet-move-options-list">
                        <li>Who here frightens you?</li>
                        <li>How can I get you to ___?</li>
                        <li>What disgusts you about yourself/another/this place?</li>
                        <li>How can you be redeemed?</li>
                        <li>What do you desire from ___?</li>
                    </ul>
                </div>
            </div>
            
            <!-- Keep An Eye Out For Trouble -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Keep An Eye Out For Trouble
                    <button type="roll" value="/roll 2d6 + @{guile}" name="roll_EyeForTrouble"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>keep an eye out for trouble</b>, roll +<i>guile</i>.
                    On a hit, take +1 forward on the answers you found.
                    On a 10+, ask 2. 
                    On a 7-9, ask 1.
                    <ul class="sheet-move-options-list">
                        <li>What dark truth is hidden here?</li>
                        <li>What tragedy is about to happen?</li>
                        <li>What is my best way out of this mess?</li>
                        <li>Who here is stained by the darkness?</li>
                    </ul>
                </div>
            </div>
    
            <!-- Endure the Darkness -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Endure the Darkness
                    <button type="roll" value="/roll 2d6 + @{breath}" name="roll_EndureTheDarkenss"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>endure the darkness</b> in the face of danger,
                    tell the MC what you want to withstand and roll +<i>breath</i>.
                    On a hit, you do it.
                    On a 10+, you also learn an unexpected truth about the situation.
                    On a 7-9, the MC will offer you a wicked bargain, a painful choice, 
                    or a price paid to the darkness.
                </div>
            </div>
            
            <!-- Lash Out With Unsettling Violence -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Lash Out With Unsettling Violence
                    <button type="roll" value="/roll 2d6 + @{bones}" name="roll_LashOut"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>lash out with unsettling violence</b> against someone, 
                    roll +<i>bones</i>.
                    On a hit, exchange harm as established.
                    On a 10+, choose 1. 
                    On a 7-9, choose 2.
                    <ul class="sheet-move-options-list">
                        <li>You attract unwanted attention</li>
                        <li>You take it further than you intended</li>
                        <li>Someone precious to you pays for your rashness</li>
                        <li>Mark darkness as the blood stains your hands</li>
                    </ul>
                </div>
            </div>
    
            <!-- Strike a Deal -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Strike a Deal
                    <button type="roll" value="/roll 2d6 + @{guile}" name="roll_StrikeADeal"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>strike a deal</b>
                    by offering up something precious,
                    roll +<i>guile</i>.
                    On a hit, the deal is struck with a shake of hands.
                    On a 7-9, you have to mark darkness or choose 1:
                    <ul class="sheet-move-options-list">
                        <li>You pay more than you reckoned</li>
                        <li>Someone else pays a price</li>
                        <li>Blood will need to be spilled</li>
                        <li>The darkness takes a cut</li>
                    </ul>
                    When you <b>strike a deal</b> with another PC,
                    they can mark darkness to weasel out of it later or mark experience
                    when they finally follow through. Either way, you know the outcome.
                </div>
            </div>
    
            <!-- Indulge Your Inner Monster -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Indulge Your Inner Monster
                </h4>
                <div class="sheet-move-content">
                    When you <b>indulge your innner monster</b>, 
                    hold 1.
                    Mark darkness to spend your hold 1 for 1 to choose 1 from the list.
                    Your hold disappears at the end of session.
                    <ul class="sheet-move-options-list">
                        <li>Become invincible: ignore all harm from a single source</li>
                        <li>Become omniscient: force another to reveal their hidden truth</li>
                        <li>Become indomitable: turn a miss to a 10+ result</li>
                        <li>Become undeniable: summon the darkness to face you</li>
                    </ul>
                </div>
            </div>
    
            <!-- Embrace the Darkness -->
            <div class="sheet-move-block">
                <input type="checkbox" class="sheet-move-arrow" checked="true" /><span></span>
                <h4>
                    Embrace the Darkness
                    <button type="roll" value="/roll 2d6 + @{breath}" name="roll_EmbraceTheDarkness"></button>
                </h4>
                <div class="sheet-move-content">
                    When you <b>embrace the darkness</b>,
                    mark darnkess and
                    roll +<i>breath</i>.
                    On a 10+, choose two from the list.
                    On a 7-9, choose one:
                    <ul class="sheet-move-options-list">
                        <li>Show someone true pain: rip the darkness from their soul (2 harm)</li>
                        <li>Show someone true fear: they must either run from you or freeze in place, your choice</li>
                        <li>Show someone true disgust: extend your abilities to do something inhuman</li>
                        <li>Show someone true grief: take something valuable from them</li>
                    </ul>
                </div>
            </div>
    
    
            
        </div>
        <!-- end Basic Moves -->
        
    </div>
    
    <!-------------------------------------------------------------------------->
    <!-- Trackers -->
    <div>
        <!-- XP Tracker -->
        <div class="sheet-tracker-container sheet-xp-container">
            <h3>xp</h3>
            <input type="radio" class="sheet-tracker sheet-tracker-0" name="attr_xp" value="0" checked="checked" />
            <input type="radio" class="sheet-tracker" name="attr_xp" value="1" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_xp" value="2" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_xp" value="3" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_xp" value="4" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_xp" value="5" /><span></span>
            
            <!-- This is a dummy button, with an attribute to reset xp -->
            <div class="sheet-tracker-reset"><input type="checkbox" name="attr_xp_reset" value="1" /><span></span></div>
        </div>
    
        <!-- Darkness Tracker -->
        <div class="sheet-tracker-container sheet-darkness-container">
            <h3>darkness</h3>
            <input type="radio" class="sheet-tracker sheet-tracker-0" name="attr_darkness" value="0" checked="checked" />
            <input type="radio" class="sheet-tracker" name="attr_darkness" value="1" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_darkness" value="2" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_darkness" value="3" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_darkness" value="4" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_darkness" value="5" /><span></span>
            
            <!-- This is a dummy button, with an attribute to reset darkness -->
            <div class="sheet-tracker-reset"><input type="checkbox" name="attr_darkness_reset" value="1" /><span></span></div>
        </div>

        <!-- Harm Tracker -->
        <div class="sheet-tracker-container sheet-harm-container">
            <h3>harm</h3>
            <input type="radio" class="sheet-tracker sheet-tracker-0" name="attr_harm" value="0" checked="checked" />
            <input type="radio" class="sheet-tracker" name="attr_harm" value="1" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_harm" value="2" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_harm" value="3" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_harm" value="4" /><span></span>
            <input type="radio" class="sheet-tracker" name="attr_harm" value="5" /><span></span>
            
            <!-- This is a dummy button, with an attribute to reset harm -->
            <div class="sheet-tracker-reset"><input type="checkbox" name="attr_harm_reset" value="1" /><span></span></div>
        </div>        
    </div>
    <!-- end Trackers -->
</div>

<!------------------------------------------------------------------------------>
</div>
