/*==============================================================================
  Styles that apply to different sections
*/

/* This wraps around an entire sheet of content:
   - character sheet
   - gm sheet
   - apocalypse track
*/
div.sheet-wrapper {
    position: relative; /* allows us to precisely layout child divs */
}

/*==============================================================================
  Character Playbook Sheet
*/

/* Two column layout */
div.sheet-character div.sheet-leftcolumn {
    position: absolute;
    left: 0; top: 0;
    width: 300px;
    margin: 0;
    padding: 10px;
    padding-right: 30px;
}

div.sheet-character div.sheet-rightcolumn {
    position: absolute;
    left: 340px; top: 0;
    width: 450px;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
}

/* text inputs for the character sheet (let's be consistent) */

input.attr_description[type="text"],
input.attr_movename[type="text"],
input.attr_pitchquestion[type="text"],
input.attr_sideshowquestion[type="text"] {
    height: 20px;
    padding: 2px; margin: 3px;
    background: transparent;
    border: 1px solid #ccc;
}

textarea.attr_movedescription,
textarea.attr_pitchanswer,
textarea.attr_sideshowanswer,
textarea.attr_monsterwithin,
textarea.attr_solace {
    padding: 2px; margin: 3px;
    height: 75px;
    background: transparent;
    border: 1px solid #ccc;
}

    /*==========================================================================
      Character Sheet: leftcolumn
    */
    
    div.sheet-leftcolumn div.sheet-playbook {
        position: relative;
        left:0; top: 0;
        width: 300;
        height: 125;
        padding: 0; margin: 0;
        margin-bottom: -30px;
    }
    
    /* Hide the radio buttons */
    div.sheet-playbook input[type="radio"] {
        display: none;
    }
    
    /* Playbook banners will be hidden, 
        and absolutely positioned under the select */
    img.sheet-playbookbanner {
        display: none;
        height: 125px;
        width: 300px;
    }
    
    /* display the correct banner based on the selected playbook */
    input.attr_pbdogfaced:checked ~ img.sheet-pbbdogfaced,
    input.attr_pbgeek:checked ~ img.sheet-pbbgeek,
    input.attr_pbmermaid:checked ~ img.sheet-pbbmermaid,
    input.attr_pbseer:checked ~ img.sheet-pbbseer,
    input.attr_pbsnakecharmer:checked ~ img.sheet-pbbsnakecharmer,
    input.attr_pbstrongman:checked ~ img.sheet-pbbstrongman {
        display: block;
    }
    
    /* Position the select */
    div.sheet-playbook select {
        opacity: 0;
        
        position: relative;
        top: -65px; left: calc(50% - 100px);
        width: 200px; height: 30px;
        margin: 0; padding: 2px;
        border: none;
        z-index: 1;
        
        color: black;
        font-weight: bold;
    }
    
    div.sheet-playbook select option {
        font-weight: bold;
        text-align: center;
    }
    
    div.sheet-playbook select:hover {
        opacity: 1;
    }
    
    /*==========================================================================
      Character Description
    */
    
    div.sheet-characterdescription th {
        text-align: right;
        padding-right: 5px;
        
        font-size: 12px;
    }
    
    /*==========================================================================
      Questions, questions, questions
    */
    
    input.attr_pitchquestion,
    input.attr_sideshowquestion {
        width: 80%;
        font-size: 12px;
    }
    
    textarea.attr_pitchanswer,
    textarea.attr_sideshowanswer {
        margin-left: 15px;
        width: calc(100% - 15px);
    }
    
/*==============================================================================
  Character Sheet Right Column
*/

    /*==========================================================================
      Character STATS:
        this table consists of buttons, to roll each stat
        and number inputs, laidout in hexagons
    */
    
    .sheet-statblock {
        text-align: center;
    }
    
    table.sheet-stattable {
        display: inline-block;
    }
    
    /* use the table itself to provide spacing - it's just easier
       there's a lot else going on with those geometries */
    
    table.sheet-stattable td,
    table.sheet-stattable th {
        padding: 0 10px;
    }

    /* Buttons to roll stats */
    button.roll_stat[type="roll"] {
        border: 1px solid black;
        background: transparent;
        width: 44px;
        display: inline-block;
        margin: 0;
        margin-bottom: 0px;
    }
    
    /* change the font back to regular text */
    button.roll_stat[type="roll"]::before {
        font-family: Sans-serif;
        font-size: 12px;
    }
    
    /* put the name of the stat in each roll button */
    button.roll_bones[type="roll"]::before { content: "bones"; }
    button.roll_breath[type="roll"]::before { content: "breath"; }
    button.roll_grace[type="roll"]::before { content: "grace"; }
    button.roll_guile[type="roll"]::before { content: "guile"; }
    
    /*==========================================================================
      Character Stat Inputs: HEXAGONS!
    */
    
    /* start with the input, and build a hexagon around it */
    .sheet-hex input {
        border: 0;
        margin: 0;
        text-align: center;
        font-size: 18px;
        background-color: transparent;
    }
    
    /* The main element of each hexagon is a .sheet-hex div
       .sheet-hextop, and .sheet-hexbottom create the top and bottom triangles
       .sheet-hextopinner and .sheet-hexbottominner help create a fake border
    */
    .sheet-hex {
        margin: 0;
        width: 48px;            /* the total width is 52 */
        border-left: 2px solid #444;
        border-right: 2px solid #444;

        height: 26px;           /* a ratio of 52:30 is roughly sqrt(3) */
                                /* ok, I flattened the hexagon a little - it's fine */
        
        background-color: white;    /* this matches the border color for -topinner and -bottominner */
    }
    
    /* set the hexagon geometries
       the top and bottom triangles are actually empty divs made of borders */

    .sheet-hextop {
        margin: 0; margin-top: -5px;
        width: 0;
        border-bottom: 15px solid #444;         /* this is half the height of the center */
        border-left: 26px solid transparent;    /* this is half the total width */
        border-right: 26px solid transparent;    /* this is half the total width */
    }
    
    .sheet-hexbottom {
        margin: 0;
        width: 0;
        border-top: 15px solid #444;         /* this is half the height of the center */
        border-left: 26px solid transparent;    /* this is half the total width */
        border-right: 26px solid transparent;    /* this is half the total width */
    }
    
        /* the geometries for the inner triangles are simply shrunk by 2px 
           the margin needs to be adjusted to overlay them over the top and bottom */
        .sheet-hextopinner {
            margin: 0;
            width: 0;
            border-bottom: 13px solid white;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            
            position: relative;
            bottom: -15px; left: -24px;
        }
        
        .sheet-hexbottominner {
            margin: 0;
            width: 0;
            border-top: 13px solid white;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            
            position: relative;
            top: -15px; left: -24px;
        }
    
    /*==========================================================================
      Trackers - more HEXAGONS!
      These blocks track XP, Darkness, and Harm
    */
    
    /* this is a general container for a single tracker */
    .sheet-tracker {
        text-align: center;     /* all our radio buttons will be replaced with text elements */
        position: relative;
        width: 165px; height: 80px;
    }
    
    .sheet-tracker h3 {
        margin-bottom: -7px;
    }
    
    
    input.attr_tracker {
        opacity: 0;         /* make the button invisible */
        z-index: 1;         /* but keep it on top */
        position: relative;
        left: 26px; top: -6px;
        width: 26px; height: 33px;
        margin-left: -25px;
    }
    
    /* this just exists to provide a zero state */
    input.attr_tracker0 { display: none; }
    
    /* all tracker buttons look filled by default */
    input.attr_tracker + span::before {
        content: "⬢";
        font-size: 30px;
        width: 26px; height: 33px;
        padding: 0; margin: 0;
    }
    
    /* tracker buttons to the right of the checked button appear empty */
    input.attr_tracker:checked ~ input.attr_tracker + span::before {
        content: "⬡";
    }
    
    /* style the reset button in a similar way
        sheet worker scripts will handle reseting the tracker */
    
    .attr_trackerreset {
        clear: left;
        display: block;
        position: absolute;
        bottom: 0; right: 0;
    }
    
    .attr_trackerreset > input {
        opacity: 0;
        display: block;
        position: absolute;
        bottom: 0; right: 0;
        width: 52px; height: 22px;
        z-index: 1;
    }
    
    .attr_trackerreset input + span::before {
        content: 'reset';
        border: 1px solid #ccc;
        color: #ccc;
        padding: 0;
        width: 50px;
        height: 20px;
        text-align: center; vertical-align: middle;
        display: block;
    }
    
    .attr_trackerreset input:checked + span::before {
        color: black;
        border: 1px solid black;
    }
    
    /* position the specific trackers */
    .sheet-xptracker {
        float: left;
    }
    
    .sheet-darknesstracker {
        float: right;
    }
    
    .sheet-harmtracker {
        clear: both;
        left: calc(50% - 83px);
    }
    
    /*==========================================================================
      Moves
    */
    
    /* Tabs for switching between character moves and basic moves */
    
    input.sheet-movespagetab {
        opacity: 0;                 /* make the radio button invisible */
        z-index: 1;
        width: 156px; height: 26px;     /* this size should match the full size of the span */
        position: relative;         /* so that flow isn't dirupted... */
        left: 165px;                /* position the input over the span... */
        margin-left: -165px;        /* then use a negative margin to move it back */
    }
    
    input.sheet-movespagetab + span {
        display: inline-block;
        border: 1px solid black;
        padding: 2px; margin: 5px;
        width: 150px; height: 20px;
        text-align: center; vertical-align: middle;
        font-size: 14px; color: #999;
    }
    
    input.sheet-movespagetab:checked + span {
        font-weight: bold; color: black;
    }
    
    /* moves pages are invisible by default */
    .sheet-movespage { display: none; }
    
    /* display the right page based on the checked tab */
    input.sheet-charactermovestab:checked ~ div.sheet-charactermoves,
    input.sheet-basicmovestab:checked ~ div.sheet-basicmoves {
        display: block;
    }
    
    /* A container for a single move.
       Includes:
       - Move Name
       - Roll Button (optional)
       - Expand/Collapse button
       - Move Description
    */
    .sheet-moveblock {
        position: relative;
        padding: 5px; margin: 5px;
        border: 1px solid #444;
    }
    
    /* The Move Title */
    .sheet-moveblock h4 {
        display: inline-block;
        font-size: 13px;
    }
    
    /* Move Roll Button */
    .sheet-moveblock button[type="roll"] {
        background: transparent;
        padding: 0 5px; margin: 0; border: 0;
    }
    
    .sheet-moveblock button[type="roll"]::before {
        content: 'bf';
        font-family:dicefontd6;     /* Roll20 special font - it's PbtA, so 2d6 */
        font-size: 24px;
    }
    
    /* expand/collapse button - this is invisible! */
    .sheet-moveblock input.sheet-moveexpand {
        position: absolute;
        right: 0;
        top: 0;
        width: 22px; height: 22px;
        opacity: 0;
        z-index: 1;
    }
    
    /* The span/span::before element creates the button. It sits behind the checkbox */
    .sheet-moveblock input + span {
        position: absolute;
        right: 0;
        top: -10px;

    }
    .sheet-moveblock input + span::before {
        content: '⊞';
        font-size: 30px;
    }
    .sheet-moveblock input:checked + span::before {
        content: '⊟';
    }
    
    .sheet-moveblock .sheet-movecontent {
        display: none;
        border-top: 1px solid #444;
        padding-left: 15px;
        padding-top: 5px;
    }

    /* hide or reveal the movecontent based on the expandbox */
    .sheet-moveblock input.sheet-moveexpand:checked ~ .sheet-movecontent {
        display: block;
    }
    
    /* style the move lists to use stars for bullets, like the original sheet */
    ul.sheet-moveoptions {
        list-style-type: none;
    }
    
    ul.sheet-moveoptions li::before {
        content: '⋆';
        padding: 0 5px;
        margin: 0;
        font-size: 100%;
    }
    
    /* Specific styling for Character Moves */
    input.attr_movename {
        font-weight: bold;
    }
    
    textarea.attr_movedescription {
        width: calc(100% - 12px);
    }
